* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

header {
    margin-bottom: 40px;
}

h1 {
    font-size: 2.5em;
    color: #2c3e50;
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #7f8c8d;
}

.services {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service-item {
    margin: 20px;
    text-align: center;
}

.service-item img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.service-item img:hover {
    transform: scale(1.1);
}

.service-item span {
    display: block;
    margin-top: 10px;
    font-size: 1.2em;
    color: #2980b9;
}

a {
    text-decoration: none;
}

a:hover span {
    color: #3498db;
}

footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    background-color: #f4f4f4; /* Cor de fundo opcional */
    padding: 10px;
    font-size: 1.2em;
    color: #333;
}

footer p {
    margin: 0;
}

.paragrafo {
    font-size: 20px;
}

.links {
    color: #2980b9;
}